// The CSS for the entire application
//
// Notice we don't use Sprockets 'require' directives below. This is
// the Right Way (see the sass-rails gem's readme for more info) to include
// files in SASS

@import "reset";

html, body {
  height: 100%;
  overflow: hidden;
}

html {
  background: goldenrod asset-data-url('bg.jpg') no-repeat;
  -webkit-background-size: 100% 100%;
}

@import "views/*";
